.auth{
  width:300px;
  margin:100px auto;
  display:flex;
  flex-direction:column;
  gap:10px;
  border: 2px solid black;
  padding: 26px;
}

.auth input{
  padding:8px;
}

.auth button{
  padding:8px;
  background:blue;
  color:white;
  border:none;
}
